
$gridColumns : 12 ;
$gridColumnsGap : 0 ;
$gridRows : 0 ;
$gridRowsGap : 0 ;

@mixin Grid {
    display : grid ;
    grid-template-columns : repeat( $gridColumns , 1fr ) ;
    grid-template-rows : $gridRows ;
    column-gap : $gridColumnsGap ;
    row-gap : $gridRowsGap ;
}

@mixin GridComponent ( $column , $row ) {
    grid-column : #{ $column } ;
    grid-row : #{ $row } ;
}
